.about-me {
  width: 100%;
  padding-top: 40px;
  overflow-x: hidden;
  min-height: 60vh;
 
  
  .left-panel {
    padding-top: 20px;
    font-family: "Raleway";
    display: flex;
  
    .title {
      font-size: 25pt;
      margin-bottom: 0;
    }
    .sub-title {
      font-size: 19pt;
      margin-bottom: 0;
    }
  }
  .right-panel {
    padding-top: 20px;
    position: relative;
    .map {
      position: relative;
      display: flex;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
   
    .hours {
      display: flex;
      text-decoration: none;
      ul {
        padding: 0;
        list-style-type: none;
      }
    }

    .address {
      display: flex;
    }
    span {
      margin-left: 10px;
      display: inline-block;
      
    }
    .phone {
      display: flex;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
