.scheduleApp {
  min-width: 250px;
  font-family: "Roboto";
  border-radius: 7px;
  background-color: transparent;
  color: #e1e0e0;
  transition: 0.7s ease;
  background-color: #d8b259cb;

  text-transform: uppercase;
  position: relative;
  border: none;
  svg {
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    right: 10px;
  }
  span {
    display: inline-block;
    transition: 0.5s ease;
  }
  &:hover {
    span {
      color: white;
      transform: translateX(-5px);
    }
    svg {
      stroke: white;
      opacity: 1;
      transform: translateX(5px);
    }
  }
}
