.gallery {
  display: flex;
  background-color: rgba(203, 203, 203, 0.886);
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;

  .title {
    text-align: center;
    font-size: 40pt;
    font-family: "Special Elite";
  }
  .row {
    .post {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}
