.header {
  background-color: transparent !important;
  transition: 0.5s ease;
  z-index: 1000;
  // height: 50px;
  position: absolute;
  width: 100%;

  display: flex;
  align-items: center;
  .nav-link {
    transition: 0.3s ease;
  }
  #navbarNav {
    justify-content: center;
    margin-right: 5%;
    li {
      font-size: 13pt;
      font-family: "Roboto";
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }

  .navbar-brand {
    font-weight: 600;
    font-family: "Raleway";
  }
}

.sticky {
  position: fixed !important;
  background-color: #050506 !important;
}
