$text-font:'Rubik','Roboto', sans-serif;
$title-font :'Special Elite';
.header {
  background-color: transparent !important;
  transition: 0.5s ease;
  z-index: 300;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center ;
  
  .nav-link {
    transition: 0.3s ease;
  }
  #navbarNav {
   
   display: flex;
  
    justify-content: center !important; 
    
    li {
      font-size: 13pt;
      font-family:$text-font;
      padding-right: 3rem;
      padding-left: 3rem;
    } 
  }

  .navbar-brand {
    position: absolute;
    left: 5px;
    font-weight: 600;
    font-family: $text-font;
  }
  .x-button {
    display: none;
  }
  
}

.sticky {
  position: fixed !important;
  background-color: #050506 !important;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    animation-duration: 0.5s;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse !important;
    align-items: center;
    background-color: rgb(28, 27, 27);

    .nav-item {
      .nav-link {
        font-size: 35pt;
        color: #eec45f !important;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .x-button {
      display: block;
      color: white;
      position: absolute;
      top: 10px;
     
      cursor: pointer;
      font-size: 20pt;
    }
  }
.navbar-brand{
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 10pt;
}
.header{
  justify-content: center;
}
}
