$title-font :'Special Elite';

.reviews {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  position: relative;
  background: black;
  color: white;

  .carousel-item {
    height: 245px !important;
  }
  .background {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
  }
  .reviews-content {
    display: flex;

    .title {
      padding-top: 80px;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 30pt;
      color: white;
      font-family: $title-font ;
      p {
        position: absolute;
        color: white;
      }
    }
  }
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    text-align: center;
  }
  .carousel-control-next-icon {
    color: white;
  }

  .stars {
    margin-bottom: 10px;
    svg {
      fill: #e0b75b;
      stroke: #e0b75b;
    }
  }
  .name {
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .review-text {
  
  word-break: word;
    padding-left: 20px;
    padding-right: 20px;
  }
}
